body {
  background-color: #857774;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}
h1 {
  color: rgba(165, 42, 42, 0.432);
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: inherit;
  font-weight: 700px;
}
.lorem {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  align-content: space-between;
  margin-left: 100px;
}

.img-div {
  display: inline-block;
  height: 250px;
  width: 300px;
  margin: 10px;
}

.imageClass {
  border-radius: 5px;
  border: 2px solid rgba(165, 42, 42, 0.616);
  height: 200px;
  width: 300px;
}

.author {
  background-color: rgba(165, 42, 42, 0.432);
  color: ivory;
  position: relative;
  text-align: center;

  /* margin-top: -100%; */
}
